<h1>Welcome {{user.email}}</h1>
<p>Role: <strong>{{user.rol}}</strong></p>
    {{!-- <div id="contenedorProductos">
    {{#each products}}
    <div class="product-card">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>Category: <strong>{{this.category}}</strong></p>
        <p>Price: <strong>{{this.price}}</strong></p>
    </div>
    {{/each}} --}}
    
    <div>
        <form action="/api/sessions/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>